#parse("/velocity/layout.vm")
#@mainLayout()
	
	<h1>$msg.get("USERS_HEADING_ALL")</h1>

	<div class="row row-3">
	    #foreach($user in $users)
	        <div class="col">
	            <a class="card" href="/users/$user.username" target="_blank">
	                <div class="cardCover">
	                    <img src="/img/User.png" alt="$user.username">
	                </div>
	                $msg.get("USERS_CAPTION", $user.username, $user.firstname, $user.lastname, $user.role)
	            </a>
	        </div>
	    #end
	</div>

#end
